.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.card-type {
    color: var(--neutrals-grey-100, #161616);
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 140% */
    letter-spacing: -0.4px;
}