.heading {
    display: flex;
    height: auto;
    width: auto;
    padding: 64px 120px 80px 120px;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(180deg, #DEFBE6 0%, rgba(222, 251, 230, 0.00) 100%);
}

.roll-text {
    color: var(--green-green-50-main, #24A148);
    font-family: Helvetica, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    /* 112.5% */
    position: absolute;
    height: 216px;
    width: 512px;
    animation: slide 6s infinite;
    letter-spacing: -1.28px;
}

.roller {
    /* background-color: rgb(0, 0, 0); */
    position: relative;
    overflow: hidden;
    line-height: 100px;
    height: 72px;
    display: flex;
    justify-content: start;
}

.black-text {
    color: var(--neutrals-grey-100, #161616);
    font-family: Helvetica, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    /* 112.5% */
    letter-spacing: -1.28px;
}

.small-text {
    color: var(--neutrals-grey-70, #525252);
    font-family: Helvetica, sans-serif;
    align-self: stretch;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 140% */
}

.marketplace {
    color: var(--neutrals-grey-60, #6F6F6F);
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 24px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
}

@keyframes slide {
    0% {
        top: 0px;
    }
    40% {
        top: -72px;
    }
    80% {
        top: -144px;
    }
    90% {
        top: 0px;
    }
}

@media screen and (max-width: 600px) {
    .roller {
        height: 2.6rem;
        line-height: 2.125rem;
    }
    .roller .roll-text {
        animation: slide-mob 5s infinite;
    }
    @keyframes slide-mob {
        0% {
            top: 0;
        }
        25% {
            top: -2.125rem;
        }
        50% {
            top: -4.25rem;
        }
        72.5% {
            top: -6.375rem;
        }
    }
}