/* SearchBar Styles */

.search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #d1d1d1; */
    padding: 10px;
    height: 48px;
}

.search-container {
    flex: 1;
    margin-right: 20px;
}

.search-input {
    width: 384px;
    padding: 8px 12px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    outline: none;
}

.sort-container {
    height: 48px;
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.sort-label {
    margin-right: 8px;
}

.sort-select {
    padding: 8px 12px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    outline: none;
    color: #4589FF;
}